* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --tempsAnimation: 2s;
}

@keyframes ouverture {
  0% {
    opacity: 100;
    height: 50vh;
    margin-bottom: 0;
    z-index: 1;
  }
  50% {
    opacity: 100;
    height: 0vh;
    margin-bottom: 50vh;
    z-index: 1;
  }
  99% {
    z-index: 1;
  }
  100% {
    opacity: 0;
    height: 0vh;
    margin-bottom: 50vh;
    z-index: -10;
  }
}

@keyframes fermeture {
  0% {
    opacity: 0;
    height: 0vh;
    margin-bottom: 50vh;
    z-index: -10;
  }
  1% {
    z-index: 1;
  }
  50% {
    opacity: 100;
    height: 0vh;
    margin-bottom: 50vh;
    z-index: 1;
  }

  100% {
    opacity: 100;
    height: 50vh;
    margin-bottom: 0;
    z-index: 1;
  }
}

@keyframes ouvertureBot {
  0% {
    opacity: 100;
    margin-top: 0vh;
    z-index: 0;
  }
  50% {
    opacity: 100;
    margin-top: 100vh;
    z-index: 0;
  }
  99% {
    z-index: 0;
  }
  100% {
    opacity: 0;
    margin-top: 100vh;
    z-index: -10;
  }
}

@keyframes fermetureBot {
  0% {
    opacity: 0;
    margin-top: 100vh;
    z-index: -10;
  }
  1% {
    z-index: 0;
  }
  50% {
    opacity: 100;
    margin-top: 100vh;
    z-index: 0;
  }

  100% {
    opacity: 100;
    margin-top: 0vh;
    z-index: 0;
  }
}

body {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(image/wood.png);
  background-repeat: repeat;
  background-blend-mode: darken;
}

main {
  height: 100%;
}

ul.lock {
  list-style: none;
  display: flex;
  gap: 10px;
  background-color: grey;
  padding: 2vh;
  margin-bottom: -18vh;
  z-index: 5;
}

.top-chest {
  position: relative;
  height: 50vh;
  width: 100%;
  background-image: url(image/wood.png);
  background-repeat: repeat-x;
  display: flex;
  align-items: end;
  justify-content: center;
  z-index: 4;
}

.top-chest.opening {
  animation: ouverture var(--tempsAnimation) forwards;
}

.top-chest.restart {
  animation: fermeture var(--tempsAnimation) forwards;
}

.sepa {
  position: absolute;
  background-color: grey;
  height: 2vh;
  width: 100%;
}

.bot-chest {
  position: relative;
  height: 50vh;
  width: 100%;
  background-image: url(image/wood.png);
  background-repeat: repeat-x;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.bot-chest.opening {
  animation: ouvertureBot var(--tempsAnimation) forwards;
}

.bot-chest.restart {
  animation: fermetureBot var(--tempsAnimation) forwards;
}

li {
  background-color: red;
  width: 30vh;
  height: 30vh;
  border: 1px solid black;
}

li.activated {
  background-color: rgb(49, 228, 49);
  width: 30vh;
  height: 30vh;
  border: 1px solid black;
}

footer {
  height: 20vh;
  background-color: #343434;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 3vh;
  font-size: 0.7em;
}

.under-chest {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0vh;
  left: 0vw;
  gap: 10vw;
  color: white;
  font-size: 4vh;
}

table {
  border: 1px solid white;
  border-collapse: collapse;
}

td {
  border: 1px solid white;
  padding: 5px;
}

.button-ligne {
  display: flex;
  gap: 5vw;
}

button {
  border: 0;
  padding: 5px;
  box-shadow: none;
  border-radius: 5px;
}

button:disabled {
  margin: 0;
  color: rgb(126, 126, 126);
  background-color: rgb(126, 126, 126);
}

.hidden {
  opacity: 0;
}
